@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MonumentExtended';
  src: url(/fonts/MonumentExtended-Regular.otf) format('opentype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'MonumentExtended', sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #FBBF31;
  font-family: "public/fonts/MonumentExtended-Regular.otf";
}


.section1 {
  padding: 0rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.div-logo-footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-left: 49%;
  margin-bottom: 0px;
  margin-top: 15px;
}

.logo {
  width: 2rem;
}

.modalBackground {
  background-color: #FBBF31;
  position: fixed;
  top: 30%;
  left: 30%;
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border: 3px solid black;
  border-radius: 20px;
}

.modalContainer {
  padding: 30px 15px;
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-direction: column;
  width: 90%;
  max-width: 580px;
  max-height: 400px;

}

.closebutton {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 1;
}


h4 {
  margin-bottom: 7%;
  font-size: 20px;
}

.titleCloseBtn {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.margen {
  width: max-content;
  position: absolute;
  visibility: hidden;
}

.link-home {
  font-size: larger;
}

/* viñetas main page */
.viñeta1 {
  border: 3px solid black;
}

.viñeta2 {
  border: 3px solid black;
  margin-right: 1rem;
}

.viñeta3 {
  border: 3px solid black;
}

.viñeta4 {
  border: 3px solid black;
}

.viñeta5 {
  margin-bottom: 1rem;
}

.viñeta6 {
  border: 3px solid black;
}

.section2 {
  margin-top: 1rem;
  display: flex;
  margin-bottom: 1rem;
}

.section3 {
  display: flex;
  align-items: baseline;
  margin-bottom: 2rem;
}

.section4 {
  margin-left: 1rem;
}

/* bubbles main */
.bubble-complete {
  z-index: 1;
  position: absolute;
  margin-top: 29%;
  margin-left: 12%;
}

.text-bubble1 {
  width: 790px;
  margin-top: -20%;
  position: absolute;
  font-size: small;
  margin-left: 2%;
}

.bubble-complete2 {
  z-index: 1;
  position: absolute;
  margin-top: 25%;
  margin-left: 7%;
}

.bubble2 {
  margin-top: 110%;
  margin-left: 50%;
}

.text-bubble2 {
  width: 374px;
  margin-top: -50%;
  position: absolute;
  font-size: small;
  margin-left: 55%;
}


.bubble3-complete {
  z-index: 1;
  position: absolute;
  margin-top: 98%;
  margin-left: 35%;
}

.bubble3-title {
  margin-top: -38%;
  position: absolute;
  font-size: x-large;
  margin-left: 15%;
  font-weight: bold;
}

.text-bubble3 {
  width: 344px;
  margin-top: -26%;
  position: absolute;
  font-size: small;
  margin-left: 15%;
}

/* social-media buttons */

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
  z-index: -1;
}

.text-link {
  width: 55rem;
  font-style: oblique;
  src: url(/fonts/MonumentExtended-Regular.otf) format('opentype');
}

.container {
  margin-left: 8%;
  margin-right: auto;
  margin-top: 5%;
  z-index: 0;
  position: relative;
}

.ilust {

  margin-bottom: -1.5%;
  margin-top: -125%;
  position: relative;
  z-index: 1;
}

.vector {
  transform: translateY(20px);
}

.ilustlink {
  position: absolute;
  top: 3%;
  z-index: -1;
}

.margen {
  width: max-content;
  position: absolute;
}

.tables {
  margin-left: 38%;
  margin-right: 31%;
  margin-bottom: 9.5%;
  width: fit-content;
}

.alpha {
  margin-right: 4rem;
}

.vlinking {
  margin-right: 1.5rem;
}

.table1 {
  border: 3px solid black;
  margin-bottom: 2px;
  filter: brightness(40%) hue-rotate(30deg);
}

.table2 {
  border: 3px solid black;
  filter: brightness(40%) hue-rotate(30deg);
}

.social-button {
  background-color: #FBBF31;
  color: #000000;
  border: 1px solid black;
  border-bottom-width: 5px;
  border-right-width: 5px;
  border-radius: 6px;
  width: 38px;
  height: 38px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.link-home {
  margin-left: 2.5rem;
}

.button-linkventory {
  background-color: #FBBF31;
  color: #000000;
  border: 1px solid black;
  border-bottom-width: 5px;
  border-right-width: 5px;
  border-radius: 6px;
  height: 30px;
  width: 157px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.button-linkventory2 {
  background-color: #FBBF31;
  color: #000000;
  border: 1px solid black;
  border-bottom-width: 5px;
  border-right-width: 5px;
  border-radius: 6px;
  height: 30px;
  width: 157px;
  text-align: center;
  transition: background-color 0.5s ease;
  position: relative;
  top: -190px;
  right: 180px;
  z-index: 2;
  margin: 2px;
}



.buttons-top {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.button-linkventory:hover {
  background-color: #D9D9D9;
}

.button-linkventory2:hover {
  background-color: #D9D9D9;
}

.social-button:hover {
  background-color: #D9D9D9;
}

.form {
  position: absolute;
  margin-top: -36%;
  margin-left: 40%;
  background-color: whitesmoke;
  width: 400px;
  height: 250px;
  border: 3px solid black;
}

.titleForm {
  background-color: #000000;
  color: #FBBF31;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cadena {
  margin-left: 43%;
  z-index: 2;
}

.AlphaToken {
  background-color: #FBBF31;
  color: #000000;
  border: 1px solid black;
  border-bottom-width: 5px;
  border-right-width: 5px;
  border-radius: 6px;
  height: 50px;
  width: 350px;
  text-align: center;
  transition: background-color 0.5s ease;
  z-index: 2;
  margin-top: 10px;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.AlphaToken:hover {
  background-color: #D9D9D9;
}

.galery {
  justify-content: center;
  margin-bottom: 4rem;
  margin-top: 3rem;
}


.LinkingToken {
  background-color: #FBBF31;
  color: #000000;
  border: 1px solid black;
  border-bottom-width: 5px;
  border-right-width: 5px;
  border-radius: 6px;
  height: 50px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.5s ease;
  z-index: 2;
  margin: 2px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.LinkingToken:hover {
  background-color: #D9D9D9;
}

.botonLink {
  background-color: #FBBF31;
  color: #000000;
  border: 1px solid black;
  border-bottom-width: 5px;
  border-right-width: 5px;
  border-radius: 6px;
  height: 40px;
  width: 150px;
  text-align: center;
  transition: background-color 0.5s ease;
  z-index: 2;
  margin-left: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.botonLink:hover {
  background-color: #D9D9D9;
}

.tokens {
  margin-left: 20px;
}

.text {
  width: 20rem;
  align-items: center;
  align-content: center;
  margin-left: 36%;
}


.buttons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.button {
  background-color: #000000;
  color: #ffc74c;
  width: auto;
  min-width: 10rem;
  height: 30px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.wallet-button {
  background-color: #ffc74c;
  color: #000000;
  border: solid;
  width: auto;
  font-size: 10px;
  border-radius: 5px;
  height: 41px;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.wp-button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.wp-button:hover {
  background-color: #000000;
  color: #ffc74c;
  border: solid black;
}

.text-button {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}


.btn-nav {
  display: flex;
  gap: 2rem;
  position: relative;
}

.LinkingToken img {
  max-width: 100%;

}

.button:hover {
  background-color: #ffc74c;
  color: #000000;
  border: solid;
}

.footer-copyright {
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  color: #000000;
  margin-bottom: 4%;
  z-index: 2;
}

.copyright {
  position: relative;
  text-align: center;
  font-size: 10px;
}

.button-wp {
  margin-top: 1rem;
  opacity: 30%;
}



.logo2 {
  height: 1.75rem;
}

.enlaces-nav {
  display: flex;
}

.links {
  padding: 0rem;
  display: flex;
  margin-right: 1rem;
  margin-left: 2px;
}


.options {
  position: absolute;
  top: 37px;
  left: 0px;
  width: 135px;
  background-color: #D9D9D9;
  color: rgb(3, 3, 3);
  padding: 10px;
  border-radius: 5px;
  transform: translateY(5px);
  transition: transform 0.3s ease-out;
  overflow: hidden;
  font-size: 14px;
  z-index: 9999;
}

.options.closed {
  transform: translateY(-1000px);
}

.option {
  padding: 10px 0;
  border-bottom: 1px solid #444;
  text-align: center;
}



@media only screen and (max-width: 480px) {
  .section2 {
    margin-top: 1rem;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column-reverse;
  }

  .vector {
    height: 3px
  }

  .text-link {

    font-size: 13px;
  }

  .viñeta1 {
    margin-bottom: -0.5rem;
  }

  .viñeta2 {
    border: 3px solid black;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
  }

  .viñeta5 {
    border: 2px solid black;
  }

  .viñeta4 {
    width: 55%;
  }

  .container {
    margin-left: 10px;
    margin-bottom: -3rem;
    width: 95%;
  }

  .text-link {
    width: 19rem;
  }

  .bubble1 {
    width: 22rem;
    margin-left: -2rem;
    margin-top: -1rem;
  }

  .text-bubble1 {
    width: 85%;
    font-size: 6px;
    margin-left: -22px;
    margin-top: -71px;
  }

  .text-bubble2 {
    width: 18rem;
    margin-left: 1rem;
    font-size: 10px;
  }

  .bubble-complete2 {
    z-index: 1;
    position: absolute;
    margin-top: 45%;
    margin-left: 4%;
    width: 93%;
  }


  .bubble2 {
    margin-left: 1%;
  }

  .bubble3 {
    width: 100%;
  }

  .bubble3-title {
    margin-top: -20%;
    position: absolute;
    font-size: 11px;
    margin-left: 7%;
    font-weight: bold;
  }

  .text-bubble3 {
    margin-left: 25px;
    width: 8.5rem;
    font-size: 6px;
    margin-top: -48px;
  }

  .bubble3-complete {
    z-index: 1;
    position: absolute;
    margin-top: 231%;
    margin-left: 28%;
    left: -5rem;
    width: 91%;
  }

  .links {
    padding: 0rem;
    display: flex;
    margin-left: -5rem;
    flex-direction: row;
    margin-right: -4rem;
    justify-content: flex-end;
  }

  .bubble3 {
    width: 50%;
  }

  .footer-copyright {
    position: absolute;
    margin-left: 49%;
    transform: translateX(-50%);
    color: #000000;
    margin-bottom: 4%;
    z-index: 2;
  }

  .copyright {
    position: relative;
    text-align: center;
    font-size: 10px;
    margin-right: -2rem;
  }

  /* linking */

  .form {
    margin-top: -91%;
    margin-left: 12%;
    width: 77%;
    height: 251px;
  }

  .AlphaToken {
    width: 93%;
  }

  .LinkingToken {
    width: 87%;
  }

  .botonLink {
    margin-left: 22%;
    width: 61%;
  }

  .margen {
    position: inherit;
    display: none;
  }

  .vector {
    height: 3px
  }

  .tables {
    margin-left: 5%;
    width: 90%;
  }

  .modalBackground {
    top: 30%;
    left: 6%;
    width: 89%;
  }

  h4 {
    font-size: 15px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

  .container {
    width: 97%;
    margin-left: 2%;
  }

  .vector {
    height: 4px
  }

  .viñeta2 {
    width: 100%;
    margin-top: 0.5rem;
  }

  .text-link {
    width: 42rem;
  }

  .bubble-complete {
    z-index: 1;
    position: absolute;
    margin-top: 25%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .text-bubble1 {
    width: 95%;
    margin-top: -20%;
    position: absolute;
    font-size: 11px;
    margin-left: 2%;
  }

  .bubble-complete2 {
    z-index: 1;
    position: absolute;
    margin-top: 90%;
    margin-left: -6%;
  }

  .bubble3-complete {
    z-index: 1;
    position: absolute;
    margin-top: 229%;
    margin-left: 18%;
  }

  .ilust {
    visibility: hidden;
  }

  .section2 {
    margin-top: 0.5rem;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column-reverse;
  }

  .viñeta4 {
    width: 55%;
  }

  .viñeta5 {
    margin-bottom: 1.7rem;
  }

  .viñeta6 {
    border: 3px solid black;

  }

  /* linking */

  .ilustlink {
    visibility: hidden;
  }

  .margen {
    visibility: hidden;
  }

  .tables {
    margin-left: 9%;
    width: 80%;
  }

  .form {
    position: absolute;
    margin-top: -69%;
    margin-left: 23%;
    background-color: whitesmoke;
    width: 400px;
    height: 250px;
    border: 3px solid black;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .bubble-complete {
    z-index: 1;
    position: absolute;
    margin-top: 30%;
    margin-left: 5%;
  }

  .text-link {
    width: 48rem;
  }

  .section2 {
    margin-top: 0.5rem;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: row;
  }

  .vector {
    height: 4px
  }

  .container {
    width: 98%;
    margin-left: 1%;
    margin-right: auto;
    margin-top: 5%;
    z-index: 0;
    position: relative;
  }

  .bubble-complete {
    z-index: 1;
    position: absolute;
    margin-top: 29%;
    margin-left: 3%;
    margin-right: 6%;
  }

  .text-bubble1 {
    width: 700px;
    margin-top: -21%;
  }

  .bubble-complete2 {
    z-index: 1;
    position: absolute;
    margin-top: 9%;
    margin-left: -23%;
  }

  .viñeta3 {
    margin-bottom: 4px;
    width: 73%;
  }

  .bubble3-complete {
    z-index: 1;
    position: absolute;
    margin-top: 106%;
    margin-left: 40%;
  }

  .viñeta4 {
    width: 55%;
  }

  .viñeta5 {
    margin-bottom: 1.7rem;
    margin-left: 1rem;
  }

  .viñeta6 {
    margin-left: 1rem;
  }

  .ilust {
    margin-bottom: -2%;
    margin-top: -130%;
    position: relative;
    z-index: 0;
  }


  .section2 {
    display: flex;
  }

  .ilustlink {
    visibility: hidden;
  }

  .margen {
    visibility: hidden;
  }

  .tables {
    margin-left: 9%;
    width: 80%;
  }

  .form {
    position: absolute;
    margin-top: -69%;
    margin-left: 20%;
    background-color: whitesmoke;
    width: 500px;
    height: 250px;
    border: 3px solid black;
  }

  .AlphaToken {
    width: 450px;
  }

  .LinkingToken {
    width: 450px;
  }

  .botonLink {
    width: 250px;
  }
}

@media only screen and (min-width: 1025px) {


  .container {
    margin-left: 3%;
    margin-right: 6%;
    transform: translateX(80px);
  }

  .vector {
    height: 5px
  }

  .bubble-complete {
    z-index: 1;
    position: absolute;
    margin-top: 29%;
    margin-left: 12%;
  }

  .bubble-complete2 {
    z-index: 1;
    position: absolute;
    margin-top: 24%;
    margin-left: 8%;
  }

  .bubble3-complete {
    z-index: 1;
    position: absolute;
    margin-top: 89%;
    margin-left: 39%;
  }

  .ilust {
    width: 2500px;
    top: 0.25
  }




  @media (min-width: 1600px) {
    .container {
      margin-left: 15%;
    }

    .section1 {
      position: relative;
      z-index: 2;
    }

    .form {
      margin-left: 42%;
    }

    .tables {
      margin-left: 35%;
      margin-bottom: 7.5%;
    }

    .buttons-top {
      position: relative;
      z-index: 2;
    }

    .bubble-complete {
      z-index: 1;
      position: absolute;
      margin-top: 23%;
      margin-left: 27%;
    }

    .bubble-complete2 {
      z-index: 1;
      position: absolute;
      margin-top: 20%;
      margin-left: 14%;
    }

    .bubble3-complete {
      z-index: 1;
      position: absolute;
      margin-top: 69%;
      margin-left: 39%;
    }

    .ilust {
      z-index: 0;
      width: 80%;
      margin-bottom: -1.1%;
      margin-top: -105%;
      position: relative;
      z-index: 0;
    }

    .ilustlink {
      top: 1%
    }
  }
}